@import "https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css";

.content a {
    color: #960462; /* Custom link color */
    text-decoration: none; /* Remove underline */
    position: relative;
    line-height: 150%;
}

.content a:hover {
    text-decoration: underline; /* Underline on hover */
}

.content a::after {
    content: attr(href); /* Display the URL */
    position: absolute;
    bottom: 100%; /* Position below the link */
    left: 0;
    background: #f0f0f0;
    color: #232223;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    white-space: nowrap;
    opacity: 0; /* Start invisible */
    pointer-events: none; /* Avoid blocking other interactions */
    transition: opacity 0.3s; /* Smooth fade in */
    z-index: 10; /* Ensure it’s above other elements */
}

.content a:hover::after {
    opacity: 1; /* Show tooltip on hover */
}


.fssnip {
    /* strings --- and styles for other string related formats */
    & span.s {
        color: #a31515;
    }

    /* printf formatters */
    & span.pf {
        color: #a31515;
    }

    /* escaped chars */
    & span.e {
        color: #d69d85;
    }

    /* identifiers --- and styles for more specific identifier types */
    & span.id {
        color: #267f99;
    }

    /* module */
    & span.m {
        color: #267f99;
    }

    /* reference type */
    & span.rt {
        color: #267f99;
    }

    /* value type */
    & span.vt {
        color: #267f99;
    }

    /* interface */
    & span.if {
        color: #267f99;
    }

    /* type argument */
    & span.ta {
        color: #267f99;
    }

    /* disposable */
    & span.d {
        color: #267f99;
    }

    /* property */
    & span.prop {
        color: #267f99;
    }

    /* punctuation */
    & span.p {
        color: #000000;
    }

    & span.pn {
        color: #000000;
    }

    /* function */
    & span.f {
        color: #795e26;
    }

    & span.fn {
        color: #795e26;
    }

    /* active pattern */
    & span.pat {
        color: #795e26;
    }

    /* union case */
    & span.u {
        color: #267f99;
    }

    /* enumeration */
    & span.e {
        color: #267f99;
    }

    /* keywords */
    & span.k {
        color: #0000ff;
    }

    /* comment */
    & span.c {
        color: #008000;
        font-weight: 400;
        font-style: italic;
    }

    /* operators */
    & span.o {
        color: #000000;
    }

    /* numbers */
    & span.n {
        color: #098658;
    }

    /* line number */
    & span.l {
        color: #000000;
    }

    /* mutable var or ref cell */
    & span.v {
        color: #0000ff;
        font-weight: bold;
    }

    /* inactive code */
    & span.inactive {
        color: #808080;
    }

    /* preprocessor */
    & span.prep {
        color: #0000ff;
    }

    /* fsi output */
    & span.fsi {
        color: #000000;
    }
}

.my-card {
    transition: transform 0.2s ease-in-out;
    box-shadow: none;
  
}

.my-card:hover {
    transform: scale(1.03);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);

}

.has-background-light {
    background-color: #F6F5F1 !important;
}



